<section class="section section--reviews" id="section-reviews">
<div class="section__container">
  <div class="section__content">
    <div class="section__heading">
      <i class="fas fa-laugh-beam s_fa"></i>
      <h2>Reviews</h2>
    </div>
    <div class="reviews">
      <div class="reviews__container">
        <div class="reviews__item">
          <div class="reviews__item__content">
            <div class="reviews__img u0">

            </div>
            <div class="reviews__item__name">
              sanadkh<span>#5042</span>
            </div>


            <div class="reviews__item__description">
              One of the best web designers out there. Has great customer support with a quick and reliable
              response time. I highly recommend this guy if you are trying to find someone to make your website.
            </div>
            <div class="reviews__item__Line"></div>
            <div class="reviews__item__rating">
              <div class="container">
                <ul class="star__text">
                  <li>Work &amp; projects</li>
                  <li>Price</li>
                  <li>Service</li>
                  <li>Quality</li>
                  <li>Speed</li>
                  <li>Recommended</li>
                </ul>
              </div>
              <div class="star">
                <ul class="star__rating star__out">
                  <li>
                    <span class="fa fa-star-o rate"></span>
                    <span class="fa fa-star-o rate"></span>
                    <span class="fa fa-star-o rate"></span>
                    <span class="fa fa-star-o rate"></span>
                    <span class="fa fa-star-o rate"></span>
                  </li>
                  <li>
                    <span class="fa fa-star-o price"></span>
                    <span class="fa fa-star-o price"></span>
                    <span class="fa fa-star-o price"></span>
                    <span class="fa fa-star-o price"></span>
                    <span class="fa fa-star-o price"></span>
                  </li>
                  <li>
                    <span class="fa fa-star-o service"></span>
                    <span class="fa fa-star-o service"></span>
                    <span class="fa fa-star-o service"></span>
                    <span class="fa fa-star-o service"></span>
                    <span class="fa fa-star-o service"></span>
                  </li>
                  <li>
                    <span class="fa fa-star-o quality"></span>
                    <span class="fa fa-star-o quality"></span>
                    <span class="fa fa-star-o quality"></span>
                    <span class="fa fa-star-o quality"></span>    
                    <span class="fa fa-star-o quality"></span>
                  </li>
                  <li>
                    <span class="fa fa-star-o speed"></span>
                    <span class="fa fa-star-o speed"></span>
                    <span class="fa fa-star-o speed"></span>
                    <span class="fa fa-star-o speed"></span>
                    <span class="fa fa-star-o speed"></span>
                  </li>
                  <li>
                    <span class="fa fa-star-o recommen"></span>
                    <span class="fa fa-star-o recommen"></span>
                    <span class="fa fa-star-o recommen"></span>
                    <span class="fa fa-star-o recommen"></span>
                    <span class="fa fa-star-o recommen"></span>
                  </li>
                </ul>

              </div>
            </div>
            <div class="reviews__item__Line"></div>
            <div class="reviews__item__date">
              <div class="container">
                <ul class="date__text">
                  <li class="date__li">Updated At</li>
                  <li class="date__li">Published At</li>
                </ul>
              </div>
              <div class="date">
                <ul class="date__rating">
                  <li class="date__mtop">
                    <span class="date__bg balloon" aria-label="6/29/2022, 10:11:40 AM" data-balloon-pos="up-right">a year ago</span>
                  </li>
                  <li>
                    <span class="date__bg balloon" aria-label="6/29/2022, 10:11:45 AM" data-balloon-pos="up-right">a year ago</span>
                  </li>
                </ul>

              </div>
            </div>

          </div>
        </div>
        <div class="reviews__item">
          <div class="reviews__item__content">

            <div class="reviews__item__placehold">
            <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div class="reviews__item__placehold__btn">

            </div>
          </div>
        </div>
        <div class="reviews__item">
          <div class="reviews__item__content">
            <div class="reviews__item__description">
              One of the best web designers out there. Has great customer support with a quick and reliable
              response time. I highly recommend this guy if you are trying to find someone to make your website.
            </div>
            <div class="reviews__item__heading">
              #####
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section__buttons">
      <a href="#section-reviews" id="popup" class="button button--primary button--large--2"><i
          class="fa-solid fa-circle-plus"></i>Submit Review</a>
    </div>
    <% if (user) { %>
    <div id="reviews__Popup" class="reviews__Popup">
      <div class="reviews__Popup__contents">
        <div class="reviews__Popup__header sub-heart-h">
          <h3 class="header-title"><i class="fa-regular fa-heart sub-heart"></i>Submit Review</h3>
          <div class="close close-l fa fa-close"></div>
        </div>             <div class="reviews__Popup__body">
          <div class="note note-blurple">
            Supports markdown, custom discord emojis &amp; mentions
          </div>
          <form method="post" action="/">
            <div class="reviews__form">
              <textarea type="text" name="review" id="feedback" class="form-control" autocomplete="off"
                placeholder="Great Work! 😉" required></textarea>
              <label class="label" for="feedback">Type a review or feedback</label>
              <button id="feedback-but" class="button button--primary log-out feedback-but">Submit</button>
            </div>
            <div class="mnb">
              <div class="card">
                <div class="card-header">Rate My Work &amp; Projects</div>
                <div class="card-body star-rating">
                  <div class="row star popup-star sub-star" id="row-0">
                    <span class="fa fa-star" data-rating="1" data-row="0"></span>
                    <span class="fa fa-star" data-rating="2" data-row="0"></span>
                    <span class="fa fa-star" data-rating="3" data-row="0"></span>
                    <span class="fa fa-star" data-rating="4" data-row="0"></span>
                    <span class="fa fa-star" data-rating="5" data-row="0"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="checkbox">
              <div class="toggle-pill-dark">
                <input type="checkbox" id="show" name="show">
                <label for="show"></label>
              </div>
              <label class="customer" for="show">Iam A Customer</label>
            </div>
            <div id="box">
              <div class="card">
                <div class="card-header">Price</div>
                <div class="card-body star-rating">
                  <div class="row star popup-star sub-star" id="row-1">
                    <span class="fa fa-star" data-rating="1" data-row="1"></span>
                    <span class="fa fa-star" data-rating="2" data-row="1"></span>
                    <span class="fa fa-star" data-rating="3" data-row="1"></span>
                    <span class="fa fa-star" data-rating="4" data-row="1"></span>
                    <span class="fa fa-star" data-rating="5" data-row="1"></span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">Service</div>
                <div class="card-body star-rating">
                  <div class="row star popup-star sub-star" id="row-2">
                    <span class="fa fa-star" data-rating="1" data-row="2"></span>
                    <span class="fa fa-star" data-rating="2" data-row="2"></span>
                    <span class="fa fa-star" data-rating="3" data-row="2"></span>
                    <span class="fa fa-star" data-rating="4" data-row="2"></span>
                    <span class="fa fa-star" data-rating="5" data-row="2"></span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">Quality</div>
                <div class="card-body star-rating">
                  <div class="row star popup-star sub-star" id="row-3">
                    <span class="fa fa-star" data-rating="1" data-row="3"></span>
                    <span class="fa fa-star" data-rating="2" data-row="3"></span>
                    <span class="fa fa-star" data-rating="3" data-row="3"></span>
                    <span class="fa fa-star" data-rating="4" data-row="3"></span>
                    <span class="fa fa-star" data-rating="5" data-row="3"></span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">Speed</div>
                <div class="card-body star-rating">
                  <div class="row star popup-star sub-star" id="row-4">
                    <span class="fa fa-star" data-rating="1" data-row="4"></span>
                    <span class="fa fa-star" data-rating="2" data-row="4"></span>
                    <span class="fa fa-star" data-rating="3" data-row="4"></span>
                    <span class="fa fa-star" data-rating="4" data-row="4"></span>
                    <span class="fa fa-star" data-rating="5" data-row="4"></span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">How likely would you recommend to others</div>
                <div class="card-body star-rating">
                  <div class="row star popup-star sub-star" id="row-5">
                    <span class="fa fa-star" data-rating="1" data-row="5"></span>
                    <span class="fa fa-star" data-rating="2" data-row="5"></span>
                    <span class="fa fa-star" data-rating="3" data-row="5"></span>
                    <span class="fa fa-star" data-rating="4" data-row="5"></span>
                    <span class="fa fa-star" data-rating="5" data-row="5"></span>
                  </div>
                </div>
              </div>
              <script>
                const checkbox = document.getElementById('show');

                const box = document.getElementById('box');

                checkbox.addEventListener('click', function handleClick() {
                  if (checkbox.checked) {
                    box.style.display = 'block';
                  } else {
                    box.style.display = 'none';
                  }
                });
              </script>
            </div>
        </div>
        <input type="hidden" name="name" value="<%= user.username%>">
        <input type="hidden" name="avatar" value="<%= user.avatar%>">
        <input type="hidden" name="discriminator" value="<%= user.discriminator%>">
        <input type="hidden" name="id" value="<%= user.id %>">
        <input type="hidden" name="star_rating_work" id="rating-row-0-value">
        <input type="hidden" name="star_rating_price" id="rating-row-1-value">
        <input type="hidden" name="star_rating_service" id="rating-row-2-value">
        <input type="hidden" name="star_rating_quality" id="rating-row-3-value">
        <input type="hidden" name="star_rating_speed" id="rating-row-4-value">
        <input type="hidden" name="star_rating_recommend" id="rating-row-5-value">
        <script>
          const stars = document.querySelectorAll('.star-rating .fa');

          stars.forEach(function (star) {
            star.addEventListener('click', function () {
              const rating = this.getAttribute('data-rating');
              const row = this.getAttribute('data-row');
              document.getElementById(`rating-row-${row}-value`).value = rating;
              const rowStars = document.querySelectorAll(`.star-rating #row-${row} .fa`);
              rowStars.forEach(function (rowStar) {
                if (rowStar.getAttribute('data-rating') <= rating) {
                  rowStar.classList.add('checked');
                } else {
                  rowStar.classList.remove('checked');
                }
              });
            });
          });
        </script>
        <div class="reviews__Popup__footer">
          <div class="reviews__Popup__gro">
            <a id="submit-but" class="button button--primary log-out">Submit</a>
            <a class="button button--primary log-c close-l">Cancel</a>
          </div>
          </form>
          <script>
            $("#submit-but").click(function (e) {
              $("#feedback-but").trigger("click")
            });
          </script>

        </div>
      </div>
    </div>
    <script>
      function ss() {
        $("body").addClass("reviews__Popup__s")

      }
      $('.reviews__Popup').hide();
      $(function () {
        // Vars
        var popup = $('#popup'),
          reviews__Popup = $('#reviews__Popup'),
          close = reviews__Popup.find('.close-l'),
          modContent = reviews__Popup.find('.reviews__Popup__contents');

        // open modal when click on open modal button 
        popup.on('click', function () {
          ss();
          $("body").addClass("reviews__Popup_s")
          reviews__Popup.css('display', 'block');
          modContent.removeClass('reviews__Popup__animated-out').addClass('reviews__Popup__animated-in');
        });

        // close modal when click on close button or somewhere out the modal content 
        $(".close-l").on('click', function (e) {
          $("body").css("overflow", "auto")
          $("body").removeClass("reviews__Popup_s")
          var target = $(e.target);
          if (target.is(reviews__Popup) || target.is(close)) {
            modContent.removeClass('reviews__Popup__animated-in').addClass('reviews__Popup__animated-out')
              .delay(250).queue(function (next) {
                reviews__Popup.css('display', 'none');
                next();
              });
          }
        });

      });
    </script>
    <% } else{ %>
    <!-- login Popup -->
    <div id="login__Popup" class="login__Popup">
      <!-- login Popup Content -->
      <div class="login__Popup__contents">
        <!-- login Popup Header -->
        <div class="login__Popup__header sub-heart-h">
          <h3 class="header-title"><i class="fa-solid fa-arrow-right-to-bracket login-fa"></i>Login</h3>
          <div class="close close-l fa fa-close"></div>
        </div>
        <!-- login Popup Body -->
        <div class="login__Popup__body">
          <h3>You must login to continue</h3>
        </div>
        <div class="login__Popup__footer">
          <div class="login__Popup__gro">
            <a href="/login" class="button button--primary log-in">Login</a>
            <a class="button button--primary log-c close-l">Cancel</a>
          </div>
        </div>
      </div>
    </div>
    <script>
      function ss() {
        $("body").addClass("login__Popup__s")

      }
      $('.login__Popup').hide();
      $(function () {
        // Vars
        var popup = $('#popup'),
          reviews__Popup = $('#login__Popup'),
          close = reviews__Popup.find('.close-l'),
          modContent = reviews__Popup.find('.login__Popup__contents');

        // open modal when click on open modal button 
        popup.on('click', function () {
          ss();
          $("body").addClass("login__Popup_s")
          reviews__Popup.css('display', '');
          modContent.removeClass('login__Popup__animated-out').addClass('login__Popup__animated-in');
        });

        $(".close-l").on('click', function (e) {
          $("body").css("overflow", "auto")
          $("body").removeClass("login__Popup_s")
          var target = $(e.target);
          if (target.is(reviews__Popup) || target.is(close)) {
            modContent.removeClass('login__Popup__animated-in').addClass('login__Popup__animated-out')
              .delay(250).queue(function (next) {
                reviews__Popup.css('display', 'none');
                next();
              });
          }
        });

      });
    </script>
    <% } %>

  </div>
</div>
</section>

<!-- <div>
      <div className="checkbox">
        <div className="toggle-pill-dark">
          <input
            type="checkbox"
            id="show"
            name="show"
            checked={isChecked}
            onChange={handleCheckboxChange}
          />
          <label htmlFor="show"></label>
        </div>
        <label className="customer" htmlFor="show">
          I am a Customer
        </label>
      </div>
      {isChecked && (
        <div id="box">
          <div className="card">
            <div className="card-header">Price</div>
            <div className="card-body star-rating">
              <div className="row star popup-star sub-star" id="row-1">
                {[1, 2, 3, 4, 5].map((rating) => (
                  <span
                    key={`rating-1-${rating}`}
                    className="fa fa-star"
                    data-rating={rating}
                    data-row="1"
                  ></span>
                ))}
              </div>
            </div>
          </div>
          {/* Repeat the card structure for other categories */}
        </div>
      )}
    </div> -->